# 跟域名機構申請域名使用的email，Let’s Encrypt可以自行填寫
ACME_EMAIL=

# Clouflare申請API Token 
# https://dash.cloudflare.com/profile/api-tokens
CF_Token=

# 在Cloudflare域名概觀頁面取得
CF_Account_ID=

# 把要申請的域名填寫在這，格式 
# Example: 
# DOMAIN=-d *.example.com -d example.com
DOMAIN=