# 跟域名機構申請域名使用的email，Let’s Encrypt可以自行填寫
ACME_EMAIL=

# 可以根據acme.sh支援的dnsapi來自行添加環境變數
# 支援列表 https://github.com/acmesh-official/acme.sh/wiki/dnsapi#how-to-use-dns-api
# Clouflare申請API Token https://dash.cloudflare.com/profile/api-tokens
CF_Token=
# 在Cloudflare域名概觀頁面取得
CF_Account_ID=

# Telegram的更新通知設定，填入bot token與要通知的chat id
TELEGRAM_BOT_APITOKEN=
TELEGRAM_BOT_CHATID=